{%include 'admin_header.html'%}
<br><br><br><br>
<center>
    <form method="post" enctype="multipart/form-data">
        <table>
        <h1>ADMIN MANAGE ROOM AND RATE</h1>
        {%if data['up']%}
        <tr>
         
            <td><select name="sub" id="" class="form-control">
                
                <option value="{{data['up'][0]['sub_category_id']}}">{{data['up'][0]['sub_category_name']}}</option>
        
                {%for i in data['cat']%}
                <option value="{{i['sub_category_id']}}">{{i['sub_category_name']}}</option>
                {%endfor%}
            </select></td>
        </tr>
        <tr>
            <th>ROOM NUMBER</th>
            <td><input type="text" name="room_number" class="form-control" value="{{data['up'][0]['room_number']}}"></td>
        </tr>
        <tr>
            <th>ROOM IMAGE</th>
            <td><input type="file" name="room_image" class="form-control" value="{{data['up'][0]['room_image']}}"></td>
        </tr>
        <tr>
            <th>ROOM RENT</th>
            <td><input type="text" name="room_rent" class="form-control" value="{{data['up'][0]['room_rent']}}"></td>
        </tr>
        
            
        <tr>
            <td align="center" colspan="2"><center><input type="submit" value="Submit" name="update" class="btn btn-success" style="background-color: #FEA116;"></center></td>
        </tr>
        </table>
        </form>
        {%else%}
    <form method="post" enctype="multipart/form-data">
        <table>
       
        <tr>
            <th>SUB_CATEGORY</th>
            <td><select name="sub" id="" class="form-control">
                {%for i in data['cat']%}
                <option value="{{i['sub_category_id']}}">{{i['sub_category_name']}}</option>
                {%endfor%}
            </select></td>
        </tr>
        <tr>
            <th>ROOM NUMBER</th>
            <td><input type="text" name="room_number" class="form-control"></td>
        </tr>
        <tr>
            <th>ROOM IMAGE</th>
            <td><input type="file" name="room_image" class="form-control"></td>
        </tr>
        <tr>
            <th>ROOM RENT</th>
            <td><input type="text" name="room_rent" class="form-control"></td>
        </tr>
        
            
        <tr>
            <td align="center" colspan="2"><center><input type="submit" value="Submit" name="Manage" class="btn btn-success" style="background-color: #FEA116;"></center></td>
        </tr>
        </table>
        </form>
        <table border="2">
            <tr>
                <th>ROOM NUMBER</th>
                <th>ROOM IMAGE</th>
                <th>ROOM RENT</th>
                <th>STATUS</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            {%for i in data['rooms']%}
            <tr>
                <td>{{i['room_number']}}</td>
                <td><img src="{{i['romm_image']}}" alt="" width="150px" height="150px"></td>
                <td>{{i['room_rent']}}</td>
                <td>{{i['status']}}</td>
                <td><a href="/admin_manage_image?id={{i['room_id']}}">Add Images</a></td>
                
                <td><a href="?action=update&id={{i['room_id']}}">Update</a></td>
                <td><a href="?action=delete&id={{i['room_id']}}">Delete</a></td>
        
        
            </tr>
            {%endfor%} 
        </table>
        {%endif%}
    
    </center>
<br><br><br><br><br><br><br><br>


<style>
    body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        background-image: url('/static/bggng.png');
        margin: 0;
        padding: 0;

        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }

    form {
        width: 50%;
        overflow-x: auto;
    }

    table {
        width: 100%;
        margin-top: 20px;
        border-collapse: collapse;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        border-radius: 16px;
        overflow: hidden;
    }

    th,
    td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #e0e0e0;
    }

    th {
        background-color:#0F172B;
        color: #ffffff;
        height: 50px;
    }

    tr:hover {
        background-color: rgba(34, 31, 70, 0.108);
    }

    a {
        text-decoration: none;
        color: #3498db;
        transition: color 0.3s;
        font-weight: bold;
    }

    a:hover {
        color: #2980b9;
    }

    /* Responsive styles */
    @media only screen and (max-width: 600px) {
        table {
            width: 100%;
        }

        th,
        td {
            display: block;
            width: 100%;
        }
    }
</style>

{%include 'footer.html'%}